body{
    background-color: #57375D;
    font-family: 'Martian Mono', monospace;
}
.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items:center;
    padding: 1%;
    margin-top: 4%;
    
}
button{
  margin-top:2%;
    padding: 5px;
    border: none;
    box-shadow: inset;
    background-color: #D67BFF;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Martian Mono', monospace;
    font-size: 16px;
    border-radius: 10px;
    color: #451952;
    cursor: pointer;
  
}
button:active{
  background-color: #FF6AC2;
}
p{
    color: #FFB6D9;
    font-size: 24px;
    
}