body{
    background-color: #57375D;
    font-family: 'Martian Mono', monospace;
}
.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items:center;
    padding: 1%;
    margin-top: 10%;
    
}
button{
    padding: 10px;
    border: none;
    box-shadow: inset;
    background-color: #D67BFF;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Martian Mono', monospace;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 2%;
}
p{
    color: #FFB6D9;
    font-size: 24px;
    
}